.game-page-container {
  display: flex;
  flex-direction: column;

  gap: 20px;
  justify-content: center;
  align-items: center;

  min-height: 100%;
  background: green;
}

.game-page-info {
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;
}

.game-page-panel {
  display: flex;
  flex-direction: column;

  padding: 10px 10px;

  width: 100%;

  justify-content: center;
  align-items: center;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  font-weight: 900;
  /* box-sizing: border-box; */

  border-radius: 5px;
  background: #f6c96c;
}

.game-page-label-count {
  display: flex;
  flex-direction: column;

  padding: 20px;

  width: fit-content;
  height: fit-content;

  align-items: center;

  color: white;

  border: 3px solid black;
  border-radius: 20px;
  background-color: #393939;
}

.game-page-label-count-players {
  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 2px;

  width: 80%;
  height: fit-content;

  align-items: flex-start;

  color: white;

  font-size: 18px;

  border: 3px solid black;
  border-radius: 20px;
  background-color: #393939;
}

.cell {
  width: 50px;
  height: 50px;

  image-rendering: pixelated;

  background-size: cover;
  background-repeat: no-repeat;
}

.wall {
  background-image: url("/sprites/assets/Block.png");
}

/* .explosion {
  background-position-x: 0px;
  background-image: url("/sprites/assets/ExplosionEnd.png");
} */

.box {
  background-image: url("/sprites/assets/Wall.png");
}

.bomb {
  background-image: url("/sprites/assets/Bomb.png");
  transform: scale(0.7);
}

.explosion {
  background-position-x: 0px;
  background-image: url("/sprites/assets/ExplosionCenter.png");
}

.powerupBlastRadius {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("/sprites/assets/ItemBlastRadius.png");
  transform: scale(1.25) translate(5px, 5px);
}

.powerupSpeed {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("/sprites/assets/ItemSpeedIncrease.png");
  transform: scale(1.25) translate(5px, 5px);
}

.powerupBomb {
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: url("/sprites/assets/ItemExtraBomb.png");
  transform: scale(1.25) translate(5px, 5px);
}

.player {
  position: absolute;
  width: 40px;
  height: 40px;
  background-position: -40px 0px;
  background-size: unset;
  background-image: url("/sprites/assets/players/Player.png");
  transform: scale(1.25) translate(5px, 5px);
}

.game-page-map {
  position: relative;
  display: grid;
  width: 100%;

  background-size: cover;
  background-image: url("/sprites/assets/Ground.png");
}
